.cycles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  text-align: center;
  outline: none;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--text-default);
  padding: 0.8rem;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.dot {
  width: 2rem;
  height: 2rem;
  background-color: var(--primary);
  border-radius: 50%;
}

.dot:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}

.work {
  background-color: var(--warning);
}

.shortBreak {
  background-color: var(--primary);
}

.longBreak {
  background-color: var(--info);
}
